@(message: String)

@main{
<h1>Ročníkový projekt</h1>

<p><b>Študent:</b> Filip Matušák <br><b>email:</b> filip.matusak&#64;gmail.com<br></p>
<p><b>Vedúci projektu:</b> prof. RNDr. Martin Škoviera PhD.<br><b>email:</b> skoviera&#64;dcs.fmph.uniba.sk<br></p>

<h2>Téma</h2>
<p><b>Farbenia steinerovskými konfiguráciami</b></p>

<h2>Cieľ</h2>
<p>Vyvinúť modul pre systém SNARKX , ktorý bude testovať zafarbiteľnosť kubických grafov
    pre zadané steinerovske konfigurácie.</p>

<h2>Špecifikácia</h2>
<p><b>Programovací jazyk:</b> C++</p>

<p>Modul bude pomocou backtrackingu hľadať zafarbenie snarku pre danú konfiguráciu</p>

<p>Na výber bude viac stratégií na hľadanie zafarbenia</p>
<p>Jedna bude všeobecná a ďalšie budú špeciálne upravené pre niektoré konfigurácie tak, aby
čo najlepšie využili špeciálne vlastnosti konkrétnych konfigurácii</p>

<a href="https://github.com/filipmatusak/SteinerConfigurations">Zdrojový kód</a>
}
