@(message: String)

@main{
<h1>Ročníkový projekt</h1>

<p><b>Študent:</b> Filip Matušák <br><b>email:</b> filip.matusak&#64;gmail.com<br></p>
<p><b>Vedúci projektu:</b> prof. RNDr. Martin Škoviera PhD.<br><b>email:</b> skoviera&#64;dcs.fmph.uniba.sk<br></p>

<h2>Téma</h2>
<p><b>Farbenia steinerovskymi konfiguráciami</b></p>

<h2>Cieľ</h2>
<p>Vyvinúť aplikácu, ktorá bude schopná testovať zafarbiteľnosť kubických grafov
    pre zadané steineovske konfigurácie.</p>

<h2>Špecifikácia</h2>
<p><b>Programovací jazyk:</b> Scala</p>
<p>Aplikácia bude vedieť parsovať textové súbory, v ktorých budú testovacie grafy
    a konfigurácie.</p>
<p>Bude rozhodovať zafarbiteľnosť grafu pre rôzne konfigurácie.</p>
<p>Výzvou bude implementovať čo najrýchlejší testovací modul, ktorý bude vedieť výpočet
 čo najviac zefektívniť. Tento modul by mal vedieť rozdeliť výpočet backtrackingom na nezávislé
    vetvy a prehľadávať ich paralelne.</p>

<p>Aplikácia môže podporovať aj iné typy testov.</p>
}
